.flex-container {
    display: flex;
  }
  .flex-container div {
    flex: 1;
  }
  

  .container {
    border: 5px solid #ffcc5c;
}

.header{
    padding: 10px;
    text-align: left;
    font-size: 2em;
    color: lightsteelblue;
  }
